<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/icons/favicon.ico")" type="image/x-icon" />
    <link rel="apple-touch-icon" href="@Url.Content("~/icons/apple-touch-icon.png")" />
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/icons/apple-touch-icon-57x57.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/icons/apple-touch-icon-72x72.png")" />
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/icons/apple-touch-icon-76x76.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/icons/apple-touch-icon-114x114.png")" />
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/icons/apple-touch-icon-120x120.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/icons/apple-touch-icon-144x144.png")" />
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/icons/apple-touch-icon-152x152.png")" />
    @if (ViewBag.Title == null)
    {
        <title>
            @UI.SiteTitle
        </title>
    }
    else
    {
        <title>
            @ViewBag.Title - @UI.SiteTitle
        </title>
    }

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="//use.typekit.net/feg5cdm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
    @* Use this once we have some actual content *@
    <div class="navbar navbar-inverse navbar-fixed-top navbar-transparent">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink(UI.SiteTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("English", "Index", "Home", new {culture = "en"}, new{})</li>
                        <li>@Html.ActionLink("日本語", "Index", "Home", new { culture = "ja" }, new { })</li>
                    </ul>
                </div>
            </div>
        </div>

    @RenderSection("widearea")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @UI.SiteTitle</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
